*{
	margin: 0;
	padding: 0;
	border: none;
}
body{
	width: 100%;
	height: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.container{
	width: 100%;
	height: 100%;
}
.container .btnPrimary{
	padding: 15px 40px;
	background: #0085EE;
	border-radius: 5px;
	border: 1px solid #0186EF;
	color: #CFE7FC;
	box-shadow: 1px 3px 2px #0075CD;
}
.container header,
.container footer{
	width: 100%;
	padding: 10px 0;
	background: #525659;
	color: #FFF; /*#E0DBF9;*/
}
.container header h3,
.container header h4{
	font-weight: normal;
	margin-left: 20px;
	display: inline-block;
}
.container header h4{
	margin-left: 10px;
	font-size: 17px;
}
.container footer{
	font-size: 10px;
	text-align: center;
}
.container .content{
	width: 100%;
	min-height: 380px;
	height: auto;
	background: #EAF0F2;
	text-align: center;
	padding: 30px 0;
	display: inline-block;
}
.container .content h2.appTitle{
	font-weight: normal;
    font-size: 43px;
    color: #6A7984;
    margin: 0 auto;
    padding: 30px 0;
}
.container .content .allDays{
	margin: 0 auto;
	display:inline-block;
	margin: 0 auto;
	width: auto;
	padding-bottom: 20px;
}
.container .content .dayWindow{
	width: 176px;
	float: left;
	/*background: #FFF;*/
	margin: 20px 7px;
	overflow: hidden;
	text-align: left;
}
.container .content .dayWindow .dayWindowHeading{
	font-weight: normal;
	color: #E0DBF9;
	text-align: right;
	font-size: 16px;
	padding: 8px 10px;
	background: #AB9EEE;
	border: 1px solid #CCD1D3;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: none;
}
.container .content .dayWindow .dayWindowContent{
	height: 174px;
	width: 174px;
	border: 1px solid #CCD1D3;
	border-top: none;
	background: #FFF;
}

.container .content .dayWindow .birthdayCount{
	margin: 5px 0 10px 10px;
	color: #555D7B;
}

.container .content .dayWindow .dayWindowContent .tiles{
	float: left;
	text-align: center;
	color: #FFF;
	vertical-align: middle;
}
.container .content .jsonInput{
	float: left;
	width:60%;
	height: 400px;
}

.container .content .formData{
	float: left;
	width:40%;
	height: 400px;
	color: #596976;
	text-align: left;
}

.container .content .jsonInput textarea.jsonCalenderData{
	width: 97%;
	height: 100%;
	border: 1px solid #CCD1D3;
	border-radius: 5px;
	resize: none;
}
.container .content .formData p{
	margin-left: 40px;
	font-size: 20px;
}
.container .content .formData #yearInput,
.container .content .formData #btnUpdate{
	display: table;
	margin-left: 40px;
	margin-top: 10px;
}
.container .content .formData #yearInput{
	font-size: 20px;
	padding: 15px;
    width: 200px;
    border: 1px solid #CCD1D3;
    border-radius: 5px;
    font-family: Tahoma, Geneva, sans-serif;
}
.container .content .formData #btnUpdate{
	text-decoration: none;
	color: #CFE7FC;
	margin-top: 10px;
}

.container .content .dayWindow .dayWindowContent .emptyDiv{
	width: 100%;
	height: 100%;
	background: url(../images/empty.jpg) no-repeat;	
	background-position: -10px;
}